
.project-parent {
    position: relative;
    width: 30%;
    margin: 15px 15px;
    border-radius: 5px;
    justify-content: space-around;
}

.img-container img {
    width: 100%;
    height: 370px;
    border-radius: 5px;
    transition: transform 1s ease;
    display: block;
}


.projectName-container {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    /* visibility: hidden; */
    background: linear-gradient(rgba(0,0,0,0.5), #4f94fc);
    display: flex;   
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease-in-out, transform 1.0s ease;
    border-radius: 5px;
    padding: 10px;
}

.project-parent:hover .projectName-container{
    opacity: 1;
    /* visibility: visible; */
    transform: scaleY(1.05);
}

.project-parent:hover img {
    transform: scaleY(1.05);
}

.projectName-container a {
    background-color: white;
    border-radius: 5px;
}
