.img-skill {
    width: 30%;
    background-color: #F3ECEC;
    margin: 10px;
    transition: background-color 1s ease, transform 1s ease-in-out;
    overflow: hidden;
    
}

.img-skill:hover {
    background-color: #c5d9f6;
    transform: scale(1.05);
}

.img-skill img {
    padding: 15px;
    width: 100%;
    height: auto;
    margin-left: 0;
}

